<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stree</title>
  </head>
  <body>
    <form action="/admin/addProduct" method="POST">
      <label for="product">Product Name:</label><br />
      <input
        type="text"
        id="product"
        name="product"
        placeholder="product"
      /><br />

      <label for="rate">Rate:</label><br />
      <input
        type="number"
        id="rate"
        name="rate"
        placeholder="rate"
      /><br /><br />

      <label for="desc">Description:</label><br />
      <input
        type="text"
        id="desc"
        name="desc"
        placeholder="Describe"
      /><br /><br />
      <br /><br />

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
