<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/sandstone/bootstrap.min.css">
</head>
<!-- https://bootswatch.com/5/vapor/bootstrap.min.css -->
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Authentication</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
                aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link " href="/">Home

                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/login">Login</a>
                        <span class="visually-hidden">(current)</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Signup</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">Dropdown</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/login">Login</a>
                            <a class="dropdown-item" href="/signup">Sign up</a>

                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <div class="container">
        <form action="/login" , method="POST">
            <fieldset>
                <br/>
                <legend>Login Here</legend>
                
                <% if( error !="" ){ %>
                    <div
                      class="alert alert-danger alert-dismissible fade show"
                      role="alert"
                    >
                      <strong> Error </strong>
                      <%= error %>.
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="alert"
                        aria-label="Close"
                      ></button>
                    </div>
                    <% } %>
            
                    <!-- if someone tried to access a protected route  -->
                    <!-- this flash message will show them to login first  -->
            
                    <% if( error_messages !="" ){ %>
                      <div class="alert alert-danger alert-dismissible fade show" role="alert">
                          <strong> Error </strong>
                          <%= error_messages %>.
                              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                      <% } %>

                <div class="form-group">
                    <label for="username" class="form-label mt-4">Email address</label>
                    <input  type="email"
                    class="form-control"
                    name="email"
                    id="username"
                    
                    placeholder="Email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>
                <div class="form-group">
                    <label for="password" class="form-label mt-4">Password</label>
                    <input  type="password"
                    class="form-control "
                    name="password"
                    id="password"
                    autocomplete="off"
                    placeholder="Password">
                </div>
               
               <div><br/>
                <input
                type="submit"
                class="btn btn-lg btn-block btn-outline-primary"
                value="Login"
                />
              <a href="/google"><button type="button" class="btn btn-secondary">Continue with google</button></a>
                <br/><br/>
                <p>New Here? <a href="/signup"><button type="button" class="btn btn-success">SignUp</button></a></p>
               </div>
            </fieldset>
        </form>
    </div>

</body>

</html>

